<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://wda.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>wda.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>wda</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$wda</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="jhealthConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:j0ztfwvl23.database.windows.net,1433;Initial Catalog=Mem_Album_Db;Integrated Security=False;User ID=pws@j0ztfwvl23;Password=Pl@yw@r3;Connect Timeout=30;Encrypt=True" Name="Server=tcp:j0ztfwvl23.database.windows.net,1433;Database=Mem_Album_Db;User ID=pws@j0ztfwvl23;Password=Pl@yw@r3;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;MultipleActiveResultSets=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MemomMvc52.Models.UsersContext, MemomMvc52" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MemomMvc52.Models.HpbDbContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:j0ztfwvl23.database.windows.net,1433;Initial Catalog=Mem_Album_Db;Integrated Security=False;User ID=pws@j0ztfwvl23;Password=Pl@yw@r3;Connect Timeout=30;Encrypt=True" Name="Server=tcp:j0ztfwvl23.database.windows.net,1433;Database=Mem_Album_Db;User ID=pws@j0ztfwvl23;Password=Pl@yw@r3;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;MultipleActiveResultSets=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MemomMvc52.Models.HpbDbContext, MemomMvc52" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MemomContext" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:j0ztfwvl23.database.windows.net,1433;Initial Catalog=Mem_Album_Db;Integrated Security=False;User ID=pws@j0ztfwvl23;Password=Pl@yw@r3;Connect Timeout=30;Encrypt=True" Name="Server=tcp:j0ztfwvl23.database.windows.net,1433;Database=Mem_Album_Db;User ID=pws@j0ztfwvl23;Password=Pl@yw@r3;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;MultipleActiveResultSets=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=nachi-lenovo\sqlexpress;Initial Catalog=Mem_Album_Db;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MemomContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=nachi-lenovo\sqlexpress;database=Mem_Album_Db;trusted_connection=yes;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="MembershipReboot" Order="4" Enabled="False">
          <Destination Path="Data Source=tcp:j0ztfwvl23.database.windows.net,1433;Initial Catalog=Mem_Album_Db;Integrated Security=False;User ID=pws@j0ztfwvl23;Password=Pl@yw@r3;Connect Timeout=30;Encrypt=True" Name="Server=tcp:j0ztfwvl23.database.windows.net,1433;Database=Mem_Album_Db;User ID=pws@j0ztfwvl23;Password=Pl@yw@r3;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;MultipleActiveResultSets=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=nachi-lenovo\sqlexpress;Initial Catalog=Mem_Album_Db;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MembershipReboot_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=nachi-lenovo\sqlexpress;database=Mem_Album_Db;trusted_connection=yes;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MemomContext-Web.config Connection String">
      <ParameterValue>Server=tcp:j0ztfwvl23.database.windows.net,1433;Database=Mem_Album_Db;User ID=pws@j0ztfwvl23;Password=Pl@yw@r3;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;MultipleActiveResultSets=True</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)jhealthConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:j0ztfwvl23.database.windows.net,1433;Database=Mem_Album_Db;User ID=pws@j0ztfwvl23;Password=Pl@yw@r3;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;MultipleActiveResultSets=True</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MembershipReboot-Web.config Connection String">
      <ParameterValue>Server=tcp:j0ztfwvl23.database.windows.net,1433;Database=Mem_Album_Db;User ID=pws@j0ztfwvl23;Password=Pl@yw@r3;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;MultipleActiveResultSets=True</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MemomMvc52.Models.HpbDbContext-Web.config Connection String">
      <ParameterValue>Server=tcp:j0ztfwvl23.database.windows.net,1433;Database=Mem_Album_Db;User ID=pws@j0ztfwvl23;Password=Pl@yw@r3;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;MultipleActiveResultSets=True</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="jhealthConnection" />
    <_ConnectionStringsToInsert Include="MemomMvc52.Models.HpbDbContext" />
  </ItemGroup>
</Project>