@{
    ViewBag.Title = "Contact";
}


<div class="row">
    <div class="large-12 columns">
        <h1>@ViewBag.Title.</h1>
        <h2>@ViewBag.Message</h2>
    </div>
</div>


<section>
    <header class="pad-top-bot-10">
        <h4>Reach Us</h4>
    </header>
    <div style="text-align:left">
        <h5 style="display:inline">1. Contact Person 1 &nbsp; &nbsp; &nbsp; Tel: 6123 1234  &nbsp; &nbsp; &nbsp; email: </h5>
        <a style="display:inline" href="mailto:conatct1@WDA.com.sg">contact1@WDA.com.sg</a>
    </div>
    </br>
    <div style="text-align:left">
        <h5 style="display:inline">2. Contact Person 2 &nbsp; &nbsp; &nbsp;  Tel: 6123 1234 &nbsp; &nbsp; &nbsp; email: </h5>
        <a style="display:inline" href="mailto:conatct2@WDA.com.sg">conatct2@WDA.com.sg</a>
    </div>
</section>

<br />
        

<section>
    <header class="pad-top-bot-10">
        <h4>Address</h4>
    </header>
    <p>
        1 Marina Boulevard<br />
        #16-01 One Marina Boulevard<br />
        Singapore 018989
    </p>
</section>

<br />
<br />
<br />
<br />