@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="large-12 columns">
        <h1>@ViewBag.Title.</h1>
        <h2>@ViewBag.Message</h2>
    </div>
</div>

<br />

<div class="row">
    <div class="large-12 columns">
        <h4>
            Children make amazing progress. </br>
            Remember when your child first smiled at you, first stood up alone, and first walked without your help.</br>

            And it’s for memories like these that we created Memom. </br>
            Memom's app is a hassle-free photo-journaling tool to record the story of your each child's growth. We also help you send periodic updates to your family with beautiful collage cards.
            <br />
        </h4>
    </div>
</div>

<br />

<div class="row">
    <div class="large-12 columns">
        <h4>
            Memom App Screenshots Galore!
        </h4>
    </div>
</div>


<div class="row">
    <div class="large-12 columns">
        <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
            <li>
                <a href="~/Content/images/Timeline_Jane.jpg" target="_blank">
                    <img src="~/Content/images/Timeline_Jane.jpg" />
                </a>
            </li>
            <li>
                <a href="~/Content/images/Add_kids.jpg" target="_blank">
                    <img src="~/Content/images/Add_kids.jpg" />
                </a>
            </li>
            <li>
                <a href="~/Content/images/Create_Collage_Card.jpg" target="_blank">
                    <img src="~/Content/images/Create_Collage_Card.jpg" />
                </a>
            </li>
        </ul>
    </div>
</div>

<br />

<div>
    <h4>
        Memom IntelliFace App proudly presented by Avantprise Pte Ltd.
    </h4>
</div>

<br />
<br />
