@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error in Operation";
}

<div class="spacerquarter"></div>

<div align="center">

<br /><br />
<a href="http://memom.me/">
<img src="~/Content/Images/500Error48.png" style="border:none;" alt="500-Error" />
</a>


    <br />
    <br />
    <p style="font-size: 16pt; font-weight: bold; color:#ED1A3B;">
        We're sorry, a error occured in the operation.
        <hr />
        <span style="color:red">@ViewBag.ErrorMessage</span>
    </p>
    <p style="font-size: 14pt; color:#ED1A3B;">
        This is totally unexpected & embarrassing and we'll do our best to serve you better<br />
        <br />
        We  apologize for the inconvenience.<br />
        Please try clicking your browser's 'back' button or try reloading the home page or click 
        <a href="/" style="color: #890318;font-weight:700;">Memom IntelliFace App</a>
        <br />
        <br />
        If you continue to receive this message, please verify your URL or resource address. 
    <br />
    <br />
        <br />
    Still running into problems? Contact us at&nbsp  
        <a style="color: #890318; font-weight:700;" href="mailto:memomintel@gmail.com">memomintel</a> 
    and we'll help you sort out.
        <br />
        Thank you for your patience.
    </p>

</div>
