@{
    ViewBag.Title = "Privacy";
}

<div class="row">
    <div class="large-12 columns">
        <h1>@ViewBag.Title.</h1>
        @*<h2>@ViewBag.Message</h2>*@
    </div>
</div>

        <div>
           <ul>
               <li>This is a Memom website. Thank you for examining our privacy statement.</li>
               <li>If you are only browsing this website, we do not capture data that allows us to identify you individually.</li>
               <li>We will NOT share your personal data with any entities, except where such entities have been authorised to carry out specific jurisdictional services authorized by legislation or a court</li>
               <li>To safeguard your personal data, all electronic and transmission of personal data are secured with appropriate security technologies.</li>
               <li>This site may contain links to 3rd party sites whose data protection and privacy policies may differ from ours. We are not responsible for the content and privacy policies of these other websites and encourage you to consult the privacy policies of those sites.</li>
           </ul>

        </div>


